@model Person
@{
	ViewBag.Title = "Delete Person";
}

<h1>@ViewBag.Title</h1>

<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
	<p>Are you sure you want to delete @Model.FirstName @Model.LastName (@Model.Email)?</p>
	<a asp-action="Index" class="btn btn-light">No</a>
	<button type="submit" class="btn btn-danger">YES</button>
</form>